<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StringConexion" connectionString="Data Source=(local);Initial Catalog=dbTest;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Security.Properties.Settings.StringConexion" connectionString="Data Source=(local);Initial Catalog=dbTest;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>